@{
    ViewData["Title"] = "Member Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

@* TODO: Put up an image you own. *@
<img src="/images/Conner.jpg" alt="" height="100" width="100">


@* TODO: Make a member page. Photo first. Core facts. Story. Artifacts menu. *@
@* Photo consistent sizing. https://stackoverflow.com/questions/4394309/how-do-i-fit-an-image-img-inside-a-div-and-keep-the-aspect-ratio *@